<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.com.timur.mappers.UserMapper">

    <select id="findByPrimaryKey" parameterType="java.math.BigDecimal" resultType="ua.com.timur.entity.UserVO">
        SELECT a.*
        FROM users a
        WHERE a.id = #{id}
    </select>

</mapper>